AI Secure Coding Assistant.json
{
  "name": "AI Secure Coding Assistant - Native n8n File RAG Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "secure-coding-assistant",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "44c6d6d7-0a69-4685-ba7e-815d61d6219b",
      "name": "Webhook - JSON Source Input",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2272,
        2944
      ],
      "webhookId": "bde1344b-9f93-4735-b4fa-da24df7e7b40"
    },
    {
      "parameters": {
        "formTitle": "Secure Coding Assistant",
        "formDescription": "Upload a source code file for AI vulnerability review and patch generation.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "source_file",
              "fieldType": "file",
              "requiredField": true
            },
            {
              "fieldLabel": "language",
              "placeholder": "python, php, javascript, etc."
            },
            {
              "fieldLabel": "scan_id",
              "placeholder": "optional-demo-scan-id"
            }
          ]
        },
        "options": {
          "respondWithOptions": {
            "values": {
              "formSubmittedText": "Secure code scan started. Check the n8n execution output for the generated report."
            }
          }
        }
      },
      "id": "3bec83d9-dad2-4e75-b527-7a4ba54d9167",
      "name": "Form Trigger - File Upload",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -2272,
        3168
      ],
      "webhookId": "3bce096e-67d8-4441-a7c8-4021b1430839"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "scan-id",
              "name": "scan_id",
              "type": "string",
              "value": "={{($json.body || $json).scan_id || $execution.id}}"
            },
            {
              "id": "files",
              "name": "json_files",
              "type": "array",
              "value": "={{($json.body || $json).files || []}}"
            },
            {
              "id": "file-path",
              "name": "file_path",
              "type": "string",
              "value": "={{($json.body || $json).file_path || ($json.body || $json).path || 'inline-source-code.txt'}}"
            },
            {
              "id": "language",
              "name": "language_hint",
              "type": "string",
              "value": "={{($json.body || $json).language || ''}}"
            },
            {
              "id": "source",
              "name": "source_code",
              "type": "string",
              "value": "={{($json.body || $json).source_code || ($json.body || $json).content || ''}}"
            },
            {
              "id": "submitted",
              "name": "submitted_at",
              "type": "string",
              "value": "={{$now}}"
            },
            {
              "id": "ingestion",
              "name": "ingestion_method",
              "type": "string",
              "value": "webhook"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "cb352efc-774c-47d0-85a0-3ff84bcdf06d",
      "name": "Set - Webhook Input Context",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2032,
        2944
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "scan-id",
              "name": "scan_id",
              "type": "string",
              "value": "={{$json.scan_id || $execution.id}}"
            },
            {
              "id": "files",
              "name": "json_files",
              "type": "array",
              "value": "={{[]}}"
            },
            {
              "id": "file-path",
              "name": "file_path",
              "type": "string",
              "value": "={{$binary?.source_file?.fileName || $binary?.data?.fileName || 'uploaded-source-file'}}"
            },
            {
              "id": "language",
              "name": "language_hint",
              "type": "string",
              "value": "={{$json.language || ($binary?.source_file?.fileName || $binary?.data?.fileName || '').split('.').pop()}}"
            },
            {
              "id": "source",
              "name": "source_code",
              "type": "string",
              "value": ""
            },
            {
              "id": "submitted",
              "name": "submitted_at",
              "type": "string",
              "value": "={{$now}}"
            },
            {
              "id": "ingestion",
              "name": "ingestion_method",
              "type": "string",
              "value": "form_upload"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "04f9fcde-b06d-4682-90f9-b91c00735e7d",
      "name": "Set - File Upload Context",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2032,
        3168
      ]
    },
    {
      "parameters": {
        "jsCode": "const incoming = $input.first();\nconst context = incoming.json || {};\nconst binary = incoming.binary || {};\nconst output = [];\n\nfunction simpleHash(value) {\n  let hash = 2166136261;\n  const text = String(value || '');\n  for (let index = 0; index < text.length; index++) {\n    hash ^= text.charCodeAt(index);\n    hash = Math.imul(hash, 16777619);\n  }\n  return `fnv1a-${(hash >>> 0).toString(16).padStart(8, '0')}`;\n}\n\nfunction decodeBase64(value) {\n  if (!value) return '';\n  if (typeof Buffer !== 'undefined') {\n    return Buffer.from(value, 'base64').toString('utf8');\n  }\n  if (typeof atob !== 'undefined') {\n    return decodeURIComponent(escape(atob(value)));\n  }\n  return String(value);\n}\n\nfunction pushSource(filePath, languageHint, sourceType, sourceCode) {\n  const source = String(sourceCode || '');\n  if (!source.trim()) return;\n  const lines = source.split('\\n');\n  output.push({\n    json: {\n      scan_id: context.scan_id,\n      submitted_at: context.submitted_at,\n      file_path: filePath || 'inline-source-code.txt',\n      language_hint: languageHint || (filePath || '').split('.').pop(),\n      source_type: sourceType,\n      ingestion_method: context.ingestion_method,\n      source_code: source,\n      file_hash: simpleHash(source),\n      line_count: lines.length,\n      numbered_source: lines.map((line, index) => `${index + 1}: ${line}`).join('\\n')\n    }\n  });\n}\n\nfor (const [key, file] of Object.entries(binary)) {\n  pushSource(file.fileName || key, (file.fileName || key).split('.').pop(), 'uploaded_file', decodeBase64(file.data));\n}\n\nfor (const file of context.json_files || []) {\n  pushSource(file.path || file.name || 'inline-source-code.txt', file.language || (file.path || '').split('.').pop(), 'json_files_payload', file.content || file.source_code || file.source || '');\n}\n\npushSource(context.file_path, context.language_hint, 'single_json_payload', context.source_code);\n\nreturn output;"
      },
      "id": "223a15d4-8775-4b39-adc6-1ad4b9fe0ddb",
      "name": "Code - Normalize Files and Add LOC",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1792,
        2944
      ],
      "notes": "Only glue script in the workflow. It converts uploaded files or JSON source payloads into file items and adds LOC/hash metadata."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "has-source",
              "leftValue": "={{$json.source_code}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f564cc61-7868-4d1d-81fe-50820774955e",
      "name": "IF - Has Source Code?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1552,
        2944
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "agent-input",
              "name": "agent_input",
              "type": "string",
              "value": "=Scan ID: {{$json.scan_id}}\nFile path: {{$json.file_path}}\nLanguage hint: {{$json.language_hint}}\nLine count: {{$json.line_count}}\nOriginal file hash: {{$json.file_hash}}\n\nAnalyze this numbered source file. Use the Pinecone secure-coding knowledge tool before deciding. Identify only real vulnerabilities. For each vulnerability, include exact vulnerable LOC, risk, impact, and remediation. Generate a patched full source file and unified diff. Preserve original functionality.\n\nNumbered source code:\n{{$json.numbered_source}}\n\nReturn strict JSON only with this schema:\n{\"scan_id\":\"...\",\"file_path\":\"...\",\"language\":\"...\",\"findings\":[{\"title\":\"...\",\"vulnerability\":\"...\",\"cwe\":\"...\",\"owasp_category\":\"...\",\"severity\":\"...\",\"confidence\":\"...\",\"vulnerable_lines\":[1],\"risk\":\"...\",\"impact\":\"...\",\"evidence\":\"...\",\"remediation\":\"...\"}],\"patched_source\":\"...\",\"unified_diff\":\"...\",\"functionality_preservation_notes\":\"...\",\"verification\":{\"commands\":[\"...\"],\"expected_result\":\"...\",\"limitations\":\"...\"},\"references\":[{\"title\":\"...\",\"source\":\"...\"}]}"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "40eb347a-d897-4682-bda9-8ecd310fa9cb",
      "name": "Set - Agent Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1344,
        2928
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$json.agent_input}}",
        "options": {
          "systemMessage": "You are an autonomous secure coding assistant. You must use the Pinecone secure-coding knowledge tool to retrieve relevant OWASP/CWE/remediation context before writing the final answer. Do not use hard-coded vulnerability responses or predefined outputs. Reason from the supplied source code and retrieved context. Preserve functionality. Return strict JSON only, with no Markdown fences, no prose outside JSON, and no invented test results."
        }
      },
      "id": "e94ad363-fb5f-46c7-9a6c-52330a8ac37b",
      "name": "AI Agent - Secure Code RAG Reviewer",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -1008,
        2944
      ],
      "retryOnFail": true
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-20b:free",
        "options": {
          "temperature": 0.1
        }
      },
      "id": "5c64871c-dd83-4dfc-b83c-19c421145dd7",
      "name": "OpenRouter Chat Model - Free GPT",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -1136,
        3184
      ],
      "credentials": {
        "openRouterApi": {
          "id": "HwubC9p31HUo4MoD",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Retrieve secure coding guidance, OWASP and CWE context, vulnerability remediation patterns, patching guidance, and verification recommendations for source code security review.",
        "pineconeIndex": {
          "__rl": true,
          "value": "secure-coding-kb",
          "mode": "list",
          "cachedResultName": "secure-coding-kb"
        },
        "options": {}
      },
      "id": "f33fa231-0642-4302-88bc-45c338041a30",
      "name": "Pinecone - Secure Coding Knowledge Tool",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -880,
        3184
      ],
      "credentials": {
        "pineconeApi": {
          "id": "RdxF9KBhgsES1awA",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "id": "619d36be-6a26-49a3-b54c-5cdfa8e1950f",
      "name": "Gemini Embeddings - Retrieve",
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -880,
        3392
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "Gtt4I0RAvdTVacGw",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "scan-id",
              "name": "scan_id",
              "type": "string",
              "value": "={{$('Set - Agent Input').item.json.scan_id}}"
            },
            {
              "id": "file-path",
              "name": "file_path",
              "type": "string",
              "value": "={{$('Set - Agent Input').item.json.file_path}}"
            },
            {
              "id": "source-type",
              "name": "source_type",
              "type": "string",
              "value": "={{$('Set - Agent Input').item.json.source_type}}"
            },
            {
              "id": "ingestion",
              "name": "ingestion_method",
              "type": "string",
              "value": "={{$('Set - Agent Input').item.json.ingestion_method}}"
            },
            {
              "id": "file-hash",
              "name": "file_hash",
              "type": "string",
              "value": "={{$('Set - Agent Input').item.json.file_hash}}"
            },
            {
              "id": "original-source",
              "name": "original_source_code",
              "type": "string",
              "value": "={{$('Set - Agent Input').item.json.source_code}}"
            },
            {
              "id": "raw-output",
              "name": "raw_ai_output",
              "type": "string",
              "value": "={{$json.output}}"
            },
            {
              "id": "analysis-json",
              "name": "analysis_json",
              "type": "object",
              "value": "={{JSON.parse($json.output.replace(/```json/gi, '').replace(/```/g, '').trim())}}"
            },
            {
              "id": "patched-source",
              "name": "patched_source",
              "type": "string",
              "value": "={{JSON.parse($json.output.replace(/```json/gi, '').replace(/```/g, '').trim()).patched_source || $('Set - Agent Input').item.json.source_code}}"
            },
            {
              "id": "diff",
              "name": "unified_diff",
              "type": "string",
              "value": "={{JSON.parse($json.output.replace(/```json/gi, '').replace(/```/g, '').trim()).unified_diff || ''}}"
            },
            {
              "id": "finding-count",
              "name": "finding_count",
              "type": "number",
              "value": "={{(JSON.parse($json.output.replace(/```json/gi, '').replace(/```/g, '').trim()).findings || []).length}}"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "c535cb8b-767e-4606-9762-e4d9a7f68dc2",
      "name": "Set - Parsed Agent Output",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -544,
        2944
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "patch-required",
              "leftValue": "={{$json.finding_count}}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c868cbf1-e02f-45c0-af9b-d9b799a505c5",
      "name": "IF - Vulnerabilities Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -352,
        2944
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "patch-not-empty",
              "leftValue": "={{$json.patched_source}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            },
            {
              "id": "diff-not-empty",
              "leftValue": "={{$json.unified_diff}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "551fb1fc-8bb1-476c-a2be-9dc1dea132fe",
      "name": "IF - Patch Generated?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -112,
        2864
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "verified",
              "name": "verified",
              "type": "boolean",
              "value": false
            },
            {
              "id": "verification-status",
              "name": "verification_status",
              "type": "string",
              "value": "Needs review: vulnerabilities were found but patch or diff output is incomplete"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "c80bf4bc-d0bc-493e-a4cf-bebfafd20ca6",
      "name": "Set - Verification Needs Review",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        128,
        2944
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "verified",
              "name": "verified",
              "type": "boolean",
              "value": true
            },
            {
              "id": "verification-status",
              "name": "verification_status",
              "type": "string",
              "value": "No confirmed vulnerabilities were reported"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "ebbe3638-f59f-457a-aba3-0c7b4368aa5b",
      "name": "Set - No Findings Verification",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -112,
        3072
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "markdown",
              "name": "markdown_report",
              "type": "string",
              "value": "=# Secure Coding Assistant Report\n\n## Scan Summary\n\n- Scan ID: {{$json.scan_id}}\n- File: {{$json.file_path}}\n- Source Type: {{$json.source_type}}\n- Findings: {{$json.finding_count}}\n- Verification Status: {{$json.verified ? 'Passed' : 'Needs Review'}}\n\n## Findings\n\n{{($json.analysis_json.findings || []).length ? JSON.stringify($json.analysis_json.findings, null, 2) : 'No confirmed vulnerabilities were found by the agent.'}}\n\n## Functionality Preservation\n\n{{$json.analysis_json.functionality_preservation_notes || 'The patch was generated to preserve original behavior while removing the vulnerable pattern.'}}\n\n## Unified Diff\n\n```diff\n{{$json.unified_diff || 'No diff returned.'}}\n```\n\n## Patched Source\n\n```\n{{$json.patched_source || ''}}\n```\n\n## Verification\n\n{{$json.verification_status}}\n\nSuggested Commands:\n{{($json.analysis_json.verification?.commands || []).join('\\n') || 'No runtime command suggested by the model.'}}\n\nLimitations: {{$json.analysis_json.verification?.limitations || 'Static workflow verification cannot replace full application testing.'}}\n\n## References\n\n{{($json.analysis_json.references || []).length ? JSON.stringify($json.analysis_json.references, null, 2) : 'Pinecone secure coding knowledge base'}}"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "f594407e-60aa-4425-9261-e4dabbbd6e7c",
      "name": "Set - Markdown Report",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        368,
        2944
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "is-webhook",
              "leftValue": "={{$json.ingestion_method}}",
              "rightValue": "webhook",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "5a8f0828-4b86-4e1f-8564-616031d63b9b",
      "name": "IF - Webhook Response Required?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        608,
        2944
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "REPLACE_WITH_SPREADSHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Secure Code Scan History",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{$now}}",
            "Scan ID": "={{$json.scan_id}}",
            "File Path": "={{$json.file_path}}",
            "Original Hash": "={{$json.file_hash}}",
            "Findings": "={{$json.finding_count}}",
            "Verified": "={{$json.verified}}",
            "Report": "={{$json.markdown_report}}"
          }
        },
        "options": {}
      },
      "id": "7c354e59-e116-41fc-8660-eb651ecf11e0",
      "name": "Google Sheets - Audit Log",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        848,
        3088
      ],
      "disabled": true,
      "continueOnFail": true,
      "notes": "Optional memory/audit node. Enable after adding Google Sheets credentials and a spreadsheet ID."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ok",
              "name": "ok",
              "type": "boolean",
              "value": true
            },
            {
              "id": "status",
              "name": "status",
              "type": "string",
              "value": "SECURE_CODE_SCAN_COMPLETED"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "d68104a3-096b-4114-986b-a903d7fa388a",
      "name": "Set - Scan Result",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        848,
        2848
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ok",
              "name": "ok",
              "type": "boolean",
              "value": true
            },
            {
              "id": "status",
              "name": "status",
              "type": "string",
              "value": "FORM_SECURE_CODE_SCAN_COMPLETED"
            },
            {
              "id": "note",
              "name": "note",
              "type": "string",
              "value": "Form submissions respond immediately. Review this execution output for the Markdown report and patch."
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "8d2bb7e5-11c2-4070-8727-ff2ace9fb826",
      "name": "Set - Form Scan Result",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        848,
        3248
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "verified",
              "name": "verified",
              "type": "boolean",
              "value": true
            },
            {
              "id": "verification-status",
              "name": "verification_status",
              "type": "string",
              "value": "Patch generated and required fields are present"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "1344881e-0f59-4350-b151-b78920a921b3",
      "name": "Set - Verification Passed1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        128,
        2784
      ]
    },
    {
      "parameters": {
        "content": "# Input/Ingestion\nThe workflow accepts source code through two inputs: \n1. A JSON webhook for API-based submissions \n2. Form Trigger for manual file upload.",
        "height": 592,
        "width": 400,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2528,
        2752
      ],
      "typeVersion": 1,
      "id": "68522ba8-5075-4c71-855b-8f08c2651149",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# Input Normalization\nThe input is converted into a standard format containing scan ID, file path, language, source code, source type, and ingestion method. Uploaded files are decoded and prepared for analysis.",
        "height": 656,
        "width": 464
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2112,
        2688
      ],
      "typeVersion": 1,
      "id": "e59f16bd-baee-48e3-bfb0-ecc02b41340a",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "# Source Preparation\nThe workflow checks whether valid source code exists. It then adds line numbers and a file hash so the AI can identify vulnerable LOC accurately and maintain traceability.",
        "height": 464,
        "width": 448,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1648,
        2704
      ],
      "typeVersion": 1,
      "id": "eb03370f-2d81-4ac5-8d23-79831e712e8d",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "# AI Security Analysis With RAG\nThe prepared source code is sent to an AI Agent. The agent uses OpenRouter as the LLM and Pinecone as a secure-coding knowledge tool, supported by Gemini embeddings, to reason over vulnerabilities and remediation.",
        "height": 816,
        "width": 592,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1184,
        2736
      ],
      "typeVersion": 1,
      "id": "fa30d69a-a156-4e7f-be0e-5c70419bb80b",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "# Patch and Verification Flow\nThe AI output is parsed into structured fields: findings, patched source, unified diff, and verification details. IF nodes check whether vulnerabilities were found and whether a patch was generated.",
        "height": 624,
        "width": 864,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -576,
        2672
      ],
      "typeVersion": 1,
      "id": "5525c1af-edba-45bb-8eb7-5899562b6833",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "# Report, Audit, and Output\nThe workflow generates a Markdown security report containing findings, risk, impact, vulnerable LOC, patched code, and verification status. Results can be logged to Google Sheets, and the final output is returned depending on whether the input came from webhook or form upload.",
        "height": 752,
        "width": 752,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        320,
        2688
      ],
      "typeVersion": 1,
      "id": "e1348bb3-49cd-42da-a926-1e9627cc1e92",
      "name": "Sticky Note5"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook - JSON Source Input": {
      "main": [
        [
          {
            "node": "Set - Webhook Input Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Form Trigger - File Upload": {
      "main": [
        [
          {
            "node": "Set - File Upload Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set - Webhook Input Context": {
      "main": [
        [
          {
            "node": "Code - Normalize Files and Add LOC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set - File Upload Context": {
      "main": [
        [
          {
            "node": "Code - Normalize Files and Add LOC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Normalize Files and Add LOC": {
      "main": [
        [
          {
            "node": "IF - Has Source Code?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Has Source Code?": {
      "main": [
        [
          {
            "node": "Set - Agent Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set - Agent Input": {
      "main": [
        [
          {
            "node": "AI Agent - Secure Code RAG Reviewer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model - Free GPT": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - Secure Code RAG Reviewer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone - Secure Coding Knowledge Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Secure Code RAG Reviewer",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Embeddings - Retrieve": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone - Secure Coding Knowledge Tool",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - Secure Code RAG Reviewer": {
      "main": [
        [
          {
            "node": "Set - Parsed Agent Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set - Parsed Agent Output": {
      "main": [
        [
          {
            "node": "IF - Vulnerabilities Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Vulnerabilities Found?": {
      "main": [
        [
          {
            "node": "IF - Patch Generated?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set - No Findings Verification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Patch Generated?": {
      "main": [
        [
          {
            "node": "Set - Verification Passed1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set - Verification Needs Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set - Verification Needs Review": {
      "main": [
        [
          {
            "node": "Set - Markdown Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set - No Findings Verification": {
      "main": [
        [
          {
            "node": "Set - Markdown Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set - Markdown Report": {
      "main": [
        [
          {
            "node": "IF - Webhook Response Required?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Webhook Response Required?": {
      "main": [
        [
          {
            "node": "Set - Scan Result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Sheets - Audit Log",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set - Form Scan Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets - Audit Log": {
      "main": [
        [
          {
            "node": "Set - Form Scan Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set - Verification Passed1": {
      "main": [
        [
          {
            "node": "Set - Markdown Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "16f5d5c2-01bd-4fac-abe9-2b5b08277a88",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f0de39e7be7441032ef7d51b99eb7950c623540a4dfee870924e8ae970838d36"
  },
  "id": "ZV4eCAzgVJrs2glv",
  "tags": []
}